## Combien la base de données contient-elle de sociétés offshores différentes dont la source est "Panama Papers" ?

In [ ]:
SELECT COUNT (DISTINCT name) FROM entity WHERE entity.source = 'Panama Papers' AND entity.name IS not NULL

## Quel intermédiaire a créé le plus de sociétés offshores ? A-t-on son adresse et son pays ?

In [ ]:
#LE PLUS DE SOCIETE OFFSHORES
SELECT intermediary.name, 
count(*) as nb_int
FROM entity, intermediary
WHERE entity.id_address = intermediary.id_address
GROUP BY intermediary.name
ORDER BY nb_int DESC
LIMIT 3

## ADRESSE ET PAYS
SELECT entity.name, intermediary.name, address.address, address.countries, address.country_codes,
count(*) as nb_int
FROM entity, intermediary, address
WHERE entity.id_address = intermediary.id_address and intermediary.id_address = address.id_address
GROUP BY intermediary.name
ORDER BY nb_int DESC
LIMIT 3

## Combien la base contient-elle de bénéficiaires avec un nom unique ? Quel est le bénéficiaire dont le nom revient le plus souvent ?

In [ ]:
## NOMS UNIQUES
SELECT COUNT (DISTINCT name)
FROM officer


## BENEFICIAIRE LE PLUS PRESENT
SELECT officer.name,
count(*) as nb_name
FROM officer
GROUP BY officer.name
ORDER BY nb_name DESC
LIMIT 3

## Donner la liste des juridictions avec le nombre d'entreprises offshores enregistrées sur chaque territoire, triée par ordre décroissant.

In [ ]:
SELECT entity.jurisdiction, entity.jurisdiction_description,
count(*) as nb_entity
FROM entity
GROUP BY jurisdiction
ORDER BY nb_entity DESC

## Regrouper les sociétés offshores par statut, et trier la liste par ordre décroissant.

In [ ]:
SELECT entity.status,
count(*) as nb_status
FROM entity
GROUP BY status
ORDER BY nb_status ASC

## Trouver la liste des bénéficiaires dont le nom contient "BNP" et ajouter, pour chaque bénéficiaire, le nom des sociétés offshores.

In [ ]:
SELECT officer.name, entity.name
FROM entity, assoc_officer_entity, officer
WHERE assoc_officer_entity.officer = officer.id and assoc_officer_entity.entity = entity.id AND officer.name LIKE '%BNP%'

## Trouver la liste des sociétés dont la juridiction est "France", "Monaco" ou "Réunion".

In [ ]:
SELECT entity.name, entity.jurisdiction, entity.jurisdiction_description
FROM entity
WHERE entity.jurisdiction_description LIKE '%France%' OR entity.jurisdiction_description LIKE '%Monaco%' OR entity.jurisdiction_description LIKE '%Reunion%'

Aucun resultat (normal, voir questions sur les pays).